<% @user_data_arr.each do |data| %>
  <span>As per your invested Amount i.e <%= data["amount"] %> on the <%= data["fundname"] %> for the date <%= data["date"] %> the NAV value was <%= data["navvalue"] %>. So the Gained units are <%= data["units"] %>. Investment today would be worth Rs. <%= data["invested_anount"]%></span>
<%end%>

<span><%= @error%></span></br>
