<!-- TO Show on Header of page -->
<div id="show-list">

	<sapn>Calculate Investment</sapn>

	<!-- Form to calculate the Investment from the current Date -->
	<%= form_tag(newdata_page_path,  :method => "get",remote: true) do%>
	<!-- URL to get the data and then find the result according to that -->

		<!-- All Fund of one fund House from tabel Fund -->
		<%= select_tag "fund_type", options_for_select(@fund.collect{ |u| [u.scheme_name, u.scheme_name]}.insert(0, "Select Fund"),params[:fund_type]) %>

	  	<p>Amount:<%= text_field_tag "amount",(params[:amount]) %></p><!-- Amount By User -->

	  	<p>Date:<%= date_field_tag "date", (params[:date])%></p><!-- Date By User -->

	  	<%= button_tag  'Calculate Amount', :class => 'btn btn-primary' %>
	<% end  %>

	<div id="showdata"></div><!-- Show Calculated Data  -->	
</div>
